<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__conteudo">Nome</th>
    <th class="tabela__conteudo">CPF</th>
    <th class="tabela__conteudo">Data de nascimento</th>
  </thead>
  <tbody *ngIf="listarCadastroDePessoas?.length > 0; else semUsuarioCadastrado">
    <tr class="tabela__linha" *ngFor="let listaDeCadatro of listarCadastroDePessoas">
      <td class="tabela__conteudo">
        {{ listaDeCadatro?.nome}}
      </td>
      <td class="tabela__conteudo">
        {{listaDeCadatro?.cpf}}
      </td>
      <td class="tabela__conteudo">
        {{ listaDeCadatro?.data | date: "shortDate" }}
      </td>
    </tr>
  </tbody>
</table>

<ng-template #semUsuarioCadastrado>
  <p>Nenhuma operação cadastrada</p>
</ng-template>
